html {
    font-family: 'Raleway', sans-serif;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    font-size: 64px;
}

.linkedin-icon {
    height: 48px;
    width: 48px;
    background-image: url(../images/linkedin-box.svg);
    transition: 0.3s;
}

.linkedin-icon:hover {
    background-image: url(../images/linkedin-box-blue.svg);
}